@import url('https://fonts.googleapis.com/css?family=Roboto');


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: none;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: cyan;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
}

h1,h2,h3,h4{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.mycard{
    width: 20em;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.card-image{
    height : 11.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mycard:hover{
    box-shadow: 1px 1px 1px red, -1px -1px 1px red;
}

.selected{
    background-color: #bff6fc;
}

.clickable{
    cursor:pointer;
    cursor: hand;
}


input.ng-valid{
    border-left :  2px solid green;
}

input.ng-invalid{
    border-left :  2px solid red;
}

.fullwidth{
    width : 100%;
}

.downpad{
    margin-bottom: 15px;
}

.my-list-item{
    padding: 4px;
    margin:8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
}

.my-list-item:hover{
    box-shadow: 1px 1px 1px red, -1px -1px 1px red;
}

.scroll-area{
  max-height: 500px;
  overflow: scroll;
}

.selected-video{
    box-shadow: 1px 1px 1px red, -1px -1px 1px red;
}

.blur{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.mymodal{
    position: fixed;
    top:65px;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;
}
